@import url("colors.css");
* {
    /* `otf-font-awesome` is requierror to be installed for icons */
    border: none;
    border-radius: 0px;
    font-family:
        FontAwesome,
        JetBrainsMono Nerd Font Propo;
    font-size: 13px;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @surface_container_low;
    border: 1px solid @surface_container_high;
    border-radius: 12px;
}

tooltip label {
    color: @on_surface;
    padding: 6px;
}

#workspaces {
    background-color: @background;
    padding: 5px 3px; /* first one is top and bottom, second is left and right*/
    margin: 0px 0px 0px 12px;
    border-radius: 18px;
    border: 1px solid @surface_container_low;
    color: @on_surface;
}

#workspaces button {
    padding: 5px 6px 2px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @surface_container_low;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @primary_fixed_dim;
    color: @background;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @secondary_fixed_dim;
    color: @background;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @error;
    color: @background;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-cava,
#tray,
#custom-power,
#power-profiles-daemon,
#mpris,
#custom-notification {
    background-color: @background;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 12px;
    border-radius: 15px;
    border: 1px solid @surface_container_low;
}

#clock {
    color: @on_surface;
}

#custom-notification {
    color: @on_surface;
}

#pulseaudio {
    color: @primary_fixed_dim;
    font-size: 13px;
}

#network {
    color: @secondary_fixed_dim;
}

#battery {
    color: @primary_fixed_dim;
}

#custom-power {
    font-size: 16px;
}
